<html lang="en">
  <head>
    <title>Roll Dice Game</title>
  </head>
  <body>
    <form action={% url "rolldicegame:play" %} method="post">
    {% csrf_token %}
      <div>
        Player amount: {{ player_amount }}
      </div>
      <input type="submit" value="Play"/>
   </form>
  </body>
</html>